@use "mixins" as *;
@use "../../breakpoint" as *;
@use "../../config" as *;
@use "../../motion" as *;
@use "../../spacing" as *;
@use "../../theme" as *;
@use "../../type" as *;
@use "../../utilities/convert" as *;
@use "../../utilities/component-reset";
@use "../../utilities/focus-outline" as *;
@use "../../utilities/high-contrast-mode" as *;
@use "../../utilities/z-index" as *;
@use "../../utilities/layer" as *;

@use "../button";

/// Modal styles
/// @access public
/// @group modal

// Modal
$modal-border-top: $background-brand 4px solid !default;
$modal-border-radius: 6px;
$modal-footer-background-color: $layer-primary !default; //TODO use $layer token

@mixin modal {
  .#{$prefix}--modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z("hidden");
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    content: "";
    opacity: 0;
    //background-color: rgba(var(--ui-07), 0.5);
    background-color: rgba(#0b1923, 0.8); // using current token of $overlay
    transition:
      opacity 200ms,
      z-index 0s 200ms,
      visibility 0s 200ms;
    visibility: hidden;

    /*&.#{$prefix}--modal--tall {
      align-items: flex;
    }*/
    @include component-reset.reset;
    @include font-family("sans");

    &.is-visible {
      z-index: z("modal");
      opacity: 1;
      transition: opacity 200ms;
      visibility: visible;
    }
  }

  .#{$prefix}--modal--danger {
    @include modal--color($support-error-main);
  }

  .#{$prefix}--modal__wrapper {
    display: inline;
  }

  .#{$prefix}--modal-inner {
    max-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .#{$prefix}--modal-container {
    @include reset;
    @include layer("pop-out");
    //box-shadow: 0 20px 30px -10px $box-shadow;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: $background-main;
    overflow: hidden;
    /*  &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 4px;
      content: "";
      background: $action-default-fill-primary-default;
    } */
    //border-top: $modal-border-top;
    // border-radius: $modal-border-radius;
    min-width: 100%;
    //max-height: 100%;
    height: 100%;
    // padding: $spacing-08 $spacing-05 0rem $spacing-05;

    @include breakpoint("md") {
      height: auto;
      min-width: 500px;
      max-width: 75%;

      .#{$prefix}--modal--wide & {
        max-width: 100%;
        width: 100%;
        min-width: 768px;
      }

      // padding: $spacing-08 $spacing-09 0 $spacing-09;
    }

    @media (min-width: 1024px) {
      max-width: 55%;
      //max-height: 100%;

      .#{$prefix}--modal--wide & {
        max-width: 90%;
      }
      .#{$prefix}--modal--narrow & {
        max-width: 38rem;
      }
    }

    @media (min-width: 1600px) {
      max-width: 50%;
      //max-height: 100%;

      .#{$prefix}--modal--wide & {
        max-width: 80%;
      }
      .#{$prefix}--modal--narrow & {
        max-width: 38rem;
      }
    }
  }

  .#{$prefix}--modal-header {
    padding: $spacing-05;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    @include breakpoint-up("md") {
      padding: $spacing-07;
      padding-top: calc($spacing-07 - 2px);
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -15px;
      width: 100%;
      height: 15px;
      z-index: -1;
      background-color: $background-main;
      -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
      );
      margin-top: $spacing-08;
    }
  }

  .#{$prefix}--modal-header__label {
    @include reset;
    @include type-style("label");
    color: $text-body-secondary;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: $spacing-03;
  }

  .#{$prefix}--modal-header__heading {
    @include reset;
    @include type-style("productive-heading-04");
    font-weight: 600;
    color: $text-body-default;
  }

  .#{$prefix}--modal-content {
    //overflow-y: auto;
    padding: $spacing-05;
    padding-top: $spacing-05;
    color: $text-body-default;
    @include breakpoint-up("md") {
      padding: $spacing-07;
      padding-top: $spacing-05;
    }

    > * {
      @include reset;
    }
  }

  .#{$prefix}--modal-footer {
    margin-top: auto;
    text-align: right;
    background-color: $modal-footer-background-color;
    //margin-left: -$spacing-05; // calcRem(-24px);
    //margin-right: -$spacing-05; // calcRem(-24px);
    padding: $spacing-05;

    border-radius: 0 0 $modal-border-radius $modal-border-radius;
    .#{$prefix}--link + .#{$prefix}--btn {
      margin-left: $spacing-05;
    }

    @include breakpoint("md") {
      // margin-left: calcRem(-48px);
      // margin-right: calcRem(-48px);
      padding: $spacing-05 $spacing-06;
    }
  }

  .#{$prefix}--modal-close {
    position: absolute;
    top: calcRem(8px);
    right: calcRem(6px);
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.25rem 0.25rem 0.125rem;

    @include breakpoint-up("md") {
      top: calcRem(22px);
      right: calcRem(18px);
    }

    &:focus {
      @include focus-outline("border");
    }
  }

  .#{$prefix}--modal-close__icon {
    color: $text-body-default;
    transition: 200ms;
    // fill: var(--ui-05); // TODO change $field-border
    width: 1.5rem;
    height: 1.5rem;
  }

  .#{$prefix}--modal--background-image {
    background-size: cover;
  }
}

.#{$prefix}--modal--mobile-dialog {
  .#{$prefix}--modal-container {
    @include breakpoint-down("md") {
      min-width: 50%;
      width: 90%;
      max-width: 90%;
      height: auto;
    }
  }
}

.#{$prefix}--modal--desktop-dialog {
  @include breakpoint-up("md") {
    .#{$prefix}--modal-container {
      max-height: 85vh;
    }
  }
}

.#{$prefix}--modal--scroll-inside {
  .#{$prefix}--modal-content {
    overflow-y: auto;
  }
  .#{$prefix}--modal-container {
    // max-height: 90vh;
    flex-grow: 0;
  }
}

.#{$prefix}--modal--desktop-fullscreen {
  @include breakpoint-up("md") {
    .#{$prefix}--modal-inner {
      align-self: center;
      width: 100%;
      height: 100%;
    }
    .#{$prefix}--modal-container {
      width: 100%;
      height: 100%;
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
}

.#{$prefix}--modal--mobile-fullscreen {
  @include breakpoint-down("md") {
    .#{$prefix}--modal-header {
      padding-top: calc(var(--safe-area-inset-top) + $spacing-05);
    }
    .#{$prefix}--modal-close {
      top: calc(var(--safe-area-inset-top) + calcRem(8px));
    }

    .#{$prefix}--modal-inner {
      align-self: center;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
    .#{$prefix}--modal-container {
      width: 100%;
      height: 100%;
      border-radius: 0;
      max-width: 100%;

      width: 100%;
      height: 100%;
    }
    .#{$prefix}--modal-footer {
      padding-bottom: calc(var(--safe-area-inset-bottom) + $spacing-05);
    }
  }
  &.#{$prefix}--modal-passive {
    .#{$prefix}--modal-content {
      @include breakpoint-down("md") {
        padding-bottom: calc(var(--safe-area-inset-bottom) + $spacing-05);
      }
    }
  }
}

.#{$prefix}--modal--mobile-bottomsheet {
  @include breakpoint-down("md") {
    .#{$prefix}--modal-container {
      max-height: 90vh;
    }
    .#{$prefix}--modal-inner {
      align-self: flex-end;
      width: 100%;
      height: auto;
      border-radius: $modal-border-radius $modal-border-radius 0 0;
    }
    .#{$prefix}--modal-footer {
      padding-bottom: calc(var(--safe-area-inset-bottom) + $spacing-05);
    }
  }
  &.#{$prefix}--modal-passive {
    .#{$prefix}--modal-content {
      @include breakpoint-down("md") {
        padding-bottom: calc(var(--safe-area-inset-bottom) + $spacing-05);
      }
    }
  }
}

/*

@include breakpoint-down(lg) {
  .wfp--modal--tall {
    // padding-top: 0 !important;
    .wfp--modal-header {
      padding-top: calc(env(safe-area-inset-bottom) + 2rem) !important;
    }

    .wfp--modal-close {
      top: calc(env(safe-area-inset-bottom) + 2rem) !important;
    }
  }

  .wfp--modal-footer {
    padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);
  }
}
  */
