@use "../../config" as *;
@use "../../spacing" as *;
@use "../../theme" as *;
@use "../../type" as *;
@use "../../breakpoint" as *;
@use "../../utilities/convert" as *;

/// Link styles
/// @access public
/// @group info-bar
@mixin info-bar {
  .#{$prefix}--info-bar {
    background: $semantic-alert-alert80;
    color: $semantic-alert-alert10;
    @include reset;
    display: flex;
    padding: $spacing-100 0;
    font-size: var(--desktop-subtext-m-regular__fontSize); // TODO: Add px
    line-height: 1.5;
  }
}
